:root {
    --primaryColor: #a2ebc2;
    --secondaryColor: #4d8b68;
    
    --borderColor: #103d23;

    --primaryText: black;
    --secondaryText: black;

    --boxColor: #103d23;
    --boxShadow: -3px 3px 10px 1px rgba(0,0,0,0.33);

    --introBoxColor:#a2ebc298;
    --introBoxBorderColor: #0b2716;

    --buttonColor: #145a32;
}

a {
    text-decoration: none;
    color: #103d23;
}
