.hidden {
    display: none;
}
.main-container {
    min-height: 350px;
}
.quiz-statement {
    text-align: center;
}
.button {
    background-color: var(--buttonColor);
    color: var(--secondaryText);
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
}
#reset {
    background-color: var(--introBoxColor);
}
.questions {
    background-color: var(--primaryColor);
    border: 1px solid var(--borderColor);
    padding: 10px;
    margin: 10px;
    border-radius: var(--borderRadius);
}
