:root {
    --primaryColor: #12395d;
    --secondaryColor: #1d5c96;

    --borderColor: #7db0de;

    --primaryText: aliceblue;
    --secondaryText: antiquewhite;

    --boxColor: #12395d;
    --boxShadow: -3px 3px 10px 1px rgba(0,0,0,0.33);

    --introBoxColor: #52749294;
    --introBoxBorderColor: #081a2b;

    --buttonColor: #0c243a;
}

a {
    text-decoration: none;
    color: rgb(145, 202, 255);
}
