:root {
    --primaryColor: #F3F2EE;
    --secondaryColor: #DEDEDE;
    
    --borderColor: #07303f;

    --primaryText: #646B52;
    --secondaryText: #626950;

    --boxColor: #AAA8B2;
    --boxShadow: -3px 3px 10px 1px rgba(0,0,0,0.33);

    --introBoxColor: #22819e50;
    --introBoxBorderColor: #22819e;

    --buttonColor: #AAA8B2;
}

a {
    text-decoration: none;
    color: var(--introBoxBorderColor);
}
