

.hidden {
    display: none;
}

.main-container {
    min-height: 350px;
}

.quiz-statement {
    text-align: center;
}

.button {
    background-color: var(--primaryColor);
    color: var(--secondaryText);
    font-family: var(--elegantFont);
    text-shadow: var(--textShadow);
    font-weight: light;
    padding: 7px;
    margin: 10px 10px 10px 0px;;
    border: 2px solid var(--borderColor);
    border-radius: var(--borderRadius);
}

label {
    color: var(--primaryText);
    font-size: 14px;
    font-family: var(--elegantFont);
    text-shadow: var(--textShadow);
    font-weight: light;
}

.button:hover {
    background-color: var(--introBoxColor)
}

#begin {
    font-size: 30px;
    padding:10vh;
    border-radius:55px;
    background-color: var(introBoxBorderColor);
}

#reset {
    padding: 4px;
    margin-left: 5px;
    background-color: var(--introBoxColor);
}

#reset:hover {
    background-color: var(--boxColor);
}

#questionCount {
    color: var(--secondaryText);
    border: 2px solid var(--borderColor);
    border-radius: var(--borderRadius);
    background-color: var(--primaryColor);
    width: 200px;
    padding: 7px 0px;
}

#select-error {
    margin-left: 21px;
}

.questions {
    background-color: var(--primaryColor);
    border: 2px solid var(--borderColor);
    padding: 10px;
    border-radius: var(--borderRadius);
}

.question-container {
    display: flex;
    flex: wrap;
    align-items: center;
    gap: 7px;

    margin-bottom: 10px;
    padding: 5px 7px;
    border: 2px solid var(--borderColor);
    border-radius: var(--borderRadius);
    background-color: var(--secondaryColor);
}

.question-container:last-of-type {
    margin-bottom: 0px;
}
